html{
	background-image: url("/img/puntjes.jpg");
}

.hallo{
	position: absolute;
	left: 15rem;
	top: 15rem;
	width: 15rem;
	height: 15rem;
	padding-top: 6.5rem;
	background-color: rgb(160, 21, 83);
	z-index: -2;
	border-radius: 50%;
	animation-name: bewegen;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	color: white;
	text-align: center;
	font-family: "helvetica neue",helvetica;
	font-weight: bold;
	font-size: 1.3rem;
}

@keyframes bewegen{
	0%{
		background-color: grey;
		transform: scale(1);
		left: -15rem;
		top: -15rem;
	}
	25%{
		background-color: rgb(160, 21, 83);
		transform: scale(0.6);
		left: 100rem;
		top: 5rem;
	}
	50%{
		background-color: rgb(160, 21, 83);
		transform: scale(0.8);
		left: 50rem;
		top: 50rem;
	}
	75%{
		background-color: rgb(160, 21, 83);
		transform: scale(0.8);
		left: 1rem;
		top: 40rem;
	}
	100%{
		background-color: grey;
		transform: scale(1);
		left: -15rem;
		top: -15rem;
	}
}

body {
	width: 80vw;
	margin: 5rem auto;
	font-size: 2rem;
	font-family: "helvetica neue",helvetica;
	background:rgba(220, 190, 192, 0.9);
	padding: 5rem;
}

header h1 a {
	color: black;
	text-decoration: none;
	font-size: 3rem;
	font-weight: 600;
}

header nav ul {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
}

header nav ul li {
	margin-top: 1rem;
}

header nav ul li a {
	color: grey;
}

header nav ul li a.selected {
	color: white;
	background-color: grey;
}

header {
	margin-bottom: 5rem;
}

main h2 {
	font-size: 2.25rem;
	font-weight: 600;
	margin-bottom: 3rem;
	background-color: grey;
	color: white;
	padding: 1rem;
	border-radius: 2%;
}

main p {
	line-height: 3rem;
	margin-bottom: 3rem;
	border-radius:
}

img {
	max-width: 100%;
}

main img {
	display: block;
	margin: 0 auto 3rem auto;
}

main h3 {
	font-size: 2.25rem;
	font-weight: 600;
	margin-bottom: 3rem;
	color: grey;
	background-color: white;
	padding: 1rem;
	border-radius: 2%;
	display: block;
}

h4{
	background-color: grey;
	color: white;
	display: inline-block;
	padding: 0.5rem;
	border-radius: 2%;
	margin-bottom: 3rem;
}

main ul.blog li a {
	color: rgb(160, 21, 83);
}

main ul.blog li {
	margin-bottom: 2rem;
}

main {
	margin-bottom: 5rem;
}

footer{
	color: grey;
}

@media (min-width: 900px) {
	header nav{
		padding: 5rem;
	}

	header nav ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 40rem;
		margin-top: 0;
	}

	header nav ul li {
		margin-top: 0;
	}

	header nav {
		position: absolute;
		top: 5.5rem;
		right: 10vw;
	}
}
